* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e7dfdf;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: 0.85;
}

label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}


.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}



.log-in {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}


.log-in h4 {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.log-in h4 span {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
}

.log-in p {
  line-height: 155%;
  font-size: 14px;
  color: #000;
  opacity: 0.65;
  font-weight: 400;
  max-width: 250px;
  margin-bottom: 40px;
}

p .discrete:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}



button {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}

.button1 {
  background-color: rgb(182 139 98);
  height: auto;
}

.button2 {
  background-color: rgb(132 5 10);
}

.button3 {
 background-color: #504d4d;
}
button3:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}

button2:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}

button:hover:active {
  transform: scale(0.99);
}

input {
  font-size: 15px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}

input:focus {
  border-bottom: solid 1px rgb(182, 157, 230);
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.floating-label label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 44px;
}

.floating-label input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
}

.floating-label .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
  align-items: center;
}

.floating-label .icon span i {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.icon span i {
  align-items: center;

}

.floating-label .icon svg path {
  transition: all 0.3s ease;
}

.floating-label input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}

.floating-label input:not(:placeholder-shown)+label {
  transform: translateY(-10px);
  opacity: 0.7;
}

.floating-label input:valid:not(:placeholder-shown)+label+.icon svg {
  opacity: 1;
}

.floating-label input:valid:not(:placeholder-shown)+label+.icon svg path {
  fill: rgb(182, 157, 230);
}

.floating-label input:not(:valid):not(:focus)+label+.icon {
  animation-name: shake-shake;
  animation-duration: 0.3s;
}

@keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }

  20% {
    transform: translateX(3px);
  }

  40% {
    transform: translateX(-3px);
  }

  60% {
    transform: translateX(3px);
  }

  80% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0px);
  }
}

.slideBox2 {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: auto;
  margin: auto auto;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: -12px 11px 23px 7px rgba(0, 0, 0, 0.12);
}

.slideBox1 {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: auto;
  margin: auto auto;
  background: #ffffff;
  border-radius: 10px;
  /* box-shadow: -12px 11px 23px 7px rgba(0, 0, 0, 0.12); */

  box-shadow: 9px 10px 6px -3px rgba(0, 0, 0, 0.12);
}

.left1 {
  width: 50%;
  height: 75vh;
  min-height: 100%;
  position: relative;
  background-image: url("https://lumenor.ai/cdn-cgi/imagedelivery/F5KOmplEz0rStV2qDKhYag/50a20815-798b-453d-4d9f-7da0343a7400/source");
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left {
  width: 50%;
  height: 75vh;
  min-height: 100%;
  position: relative;
  background-image: url("https://wallpaperbat.com/img/881836-aesthetic-computer-4k-wallpaper.jpg");
  background-size: cover;
border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left svg {
  height: 40px;
  width: auto;
  margin: 20px;
}



/*//notify*/


  
  .notyf__toast {
    min-width: 300px;   /* increase or decrease width */
    max-width: 400px;
    padding: 20px 24px;
    font-size: 16px;
  }

  /* Optional: style the message text */
  .notyf__message {
    font-size: 16px;
    line-height: 1.5;
  }

  /* Optional: icon size */
  .notyf__icon {
    font-size: 20px;
    width: 24px;
    height: 24px;
  }